.css-1rhbuit-multiValue {
  width: fit-content!important;
}

.operation-form {
  margin-top: 15vh;
  width: 70%;
}

.css-1pahdxg-control:focus-within {
  border: 1px solid #ccc;
  box-shadow: 0 0 0 3px #ccc!important;
}

